img {
    width: 50px;
}

table {
    width: 100%;
    border: 1px solid black;
}



td, th {
    width: 50%;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    margin: 20px;
}